In [1]:
import subprocess
import pandas as pd
import os

In [2]:
from eval import calculate_nad, calculate_metrics
import joblib
import json
from adat.models.classification_model import LogisticRegressionOnTfIdf

In [3]:
from sklearn.model_selection import ParameterSampler
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from tqdm import tqdm
import numpy as np
import itertools
import time

In [204]:
#for dataset in ['kaggle_transactions', 'ag_news', 'insurance', 'ai_academy_data']:
for dataset in ['ag_news']:
    base_dir = f'results/{dataset}'
    model_with_weights = joblib.load(f'results/{dataset}/logit_tfidf.model')
    model = model_with_weights['model']
    w = model_with_weights['weights']

    #for method in ['mcmc', 'random', 'cascada', 'hotflip']:
    for method in ['random']:
        base = os.path.join(base_dir, method)
        for folder in os.listdir(base):
            if folder != 'backup':
                attack_results_path = f'{base}/{folder}/results.csv'
                eval_results_path = f'{base}/{folder}/eval_metric.json'
                df = pd.read_csv(attack_results_path)
                df.rename(columns={'generated_sequence':'adversarial_sequence'}, inplace=True)
                metrics = calculate_metrics(model, w,
                                        df['label'].values, 
                                        df['sequence'].values,
                                        df['adversarial_sequence'].values)
                json.dump(metrics, open(eval_results_path, 'w'))

In [146]:
folder

'20200220_034550'

In [221]:
for dataset in ['ag_news']:
    base_dir = f'results/{dataset}'
    model_with_weights = joblib.load(f'results/{dataset}/logit_tfidf.model')
    model = model_with_weights['model']
    w = model_with_weights['weights']

    for method in ['cascada']:
        base = os.path.join(base_dir, method)
        for folder in sorted(os.listdir(base)):
            if folder != 'backup':
                attack_results_path = f'{base}/{folder}/results.csv'
                eval_results_path = f'{base}/{folder}/eval_metric.json'
                df = pd.read_csv(attack_results_path)
                df.rename(columns={'generated_sequence':'adversarial_sequence'}, inplace=True)
                metrics = calculate_metrics(model, w,
                                        df['label'].values, 
                                        df['sequence'].values,
                                        df['adversarial_sequence'].values)
                json.dump(metrics, open(eval_results_path, 'w'))
                print(attack_results_path, metrics)

results/ag_news/cascada/20200220_153429/results.csv {'accuracy_drop': 0.44, 'roc_auc_drop': 0.2709376958137889, 'probability_drop': 0.3287651422473165, 'WER': 2.98, 'NAD': 0.17288807975338322, 'NAD_new': 0.25550989508971017}
results/ag_news/cascada/20200220_153505/results.csv {'accuracy_drop': 0.63, 'roc_auc_drop': 0.5030598254711087, 'probability_drop': 0.5004659742694395, 'WER': 4.85, 'NAD': 0.14903795691623217, 'NAD_new': 0.13971899339824628}
results/ag_news/cascada/20200220_153539/results.csv {'accuracy_drop': 0.76, 'roc_auc_drop': 0.6147049005054785, 'probability_drop': 0.6085925091826604, 'WER': 8.71, 'NAD': 0.1338357886873313, 'NAD_new': 0.0785812574770376}
results/ag_news/cascada/20200220_153622/results.csv {'accuracy_drop': 0.48, 'roc_auc_drop': 0.2860823878349993, 'probability_drop': 0.3548494455991494, 'WER': 2.82, 'NAD': 0.19779228186066894, 'NAD_new': 0.2986133330047834}
results/ag_news/cascada/20200220_153810/results.csv {'accuracy_drop': 0.65, 'roc_auc_drop': 0.5238907138789229, 'probability_drop': 0.526725818394121, 'WER': 4.79, 'NAD': 0.18059527190206276, 'NAD_new': 0.18434875690535732}
results/ag_news/cascada/20200220_154002/results.csv {'accuracy_drop': 0.77, 'roc_auc_drop': 0.6453192491271924, 'probability_drop': 0.6262968274533731, 'WER': 7.92, 'NAD': 0.15226712189900346, 'NAD_new': 0.09878383756659707}
results/ag_news/cascada/20200220_154215/results.csv {'accuracy_drop': 0.61, 'roc_auc_drop': 0.4168943596473651, 'probability_drop': 0.484260372870608, 'WER': 2.73, 'NAD': 0.3116172211412061, 'NAD_new': 0.4584518239461866}
results/ag_news/cascada/20200220_154306/results.csv {'accuracy_drop': 0.74, 'roc_auc_drop': 0.5747980307503604, 'probability_drop': 0.5974793581318761, 'WER': 4.37, 'NAD': 0.24147996353551857, 'NAD_new': 0.29889155723996447}
results/ag_news/cascada/20200220_154402/results.csv {'accuracy_drop': 0.78, 'roc_auc_drop': 0.657690975187913, 'probability_drop': 0.6389883100265669, 'WER': 7.26, 'NAD': 0.18677550404713839, 'NAD_new': 0.14790215340123236}
results/ag_news/cascada/20200220_154517/results.csv {'accuracy_drop': 0.6, 'roc_auc_drop': 0.4174972775749126, 'probability_drop': 0.48420687363664155, 'WER': 2.65, 'NAD': 0.3081689457772217, 'NAD_new': 0.4538541248178335}
results/ag_news/cascada/20200220_154732/results.csv {'accuracy_drop': 0.73, 'roc_auc_drop': 0.573551165335074, 'probability_drop': 0.5861586308253832, 'WER': 4.24, 'NAD': 0.2516360891792262, 'NAD_new': 0.3137274924443197}
results/ag_news/cascada/20200220_155019/results.csv {'accuracy_drop': 0.8, 'roc_auc_drop': 0.6644138968384444, 'probability_drop': 0.6525972489843942, 'WER': 6.94, 'NAD': 0.20390930327231171, 'NAD_new': 0.17033455824370947}
results/ag_news/cascada/20200220_155348/results.csv {'accuracy_drop': 0.5800000000000001, 'roc_auc_drop': 0.3616278908799422, 'probability_drop': 0.4253882577446882, 'WER': 3.17, 'NAD': 0.24542954305925463, 'NAD_new': 0.3639617848538939}
results/ag_news/cascada/20200220_155425/results.csv {'accuracy_drop': 0.7, 'roc_auc_drop': 0.5590712959952294, 'probability_drop': 0.5679968861686389, 'WER': 4.82, 'NAD': 0.20055470996995323, 'NAD_new': 0.22367551259837115}
results/ag_news/cascada/20200220_155504/results.csv {'accuracy_drop': 0.81, 'roc_auc_drop': 0.6646800836732178, 'probability_drop': 0.6506232588633202, 'WER': 7.34, 'NAD': 0.16499813173900968, 'NAD_new': 0.11941908437540352}
results/ag_news/cascada/20200220_155550/results.csv {'accuracy_drop': 0.6, 'roc_auc_drop': 0.3930327957119949, 'probability_drop': 0.4567539205191723, 'WER': 3.07, 'NAD': 0.25710167842462595, 'NAD_new': 0.38962771665692214}
results/ag_news/cascada/20200220_155740/results.csv {'accuracy_drop': 0.72, 'roc_auc_drop': 0.5879672912604126, 'probability_drop': 0.5771151523804157, 'WER': 4.59, 'NAD': 0.2130723497528791, 'NAD_new': 0.24056735556891104}
results/ag_news/cascada/20200220_155942/results.csv {'accuracy_drop': 0.81, 'roc_auc_drop': 0.6454891022706493, 'probability_drop': 0.6486499652983921, 'WER': 6.71, 'NAD': 0.1745615958922374, 'NAD_new': 0.13320594325767243}
results/ag_news/cascada/20200220_160204/results.csv {'accuracy_drop': 0.62, 'roc_auc_drop': 0.4219386242612946, 'probability_drop': 0.4922277125741614, 'WER': 2.51, 'NAD': 0.34254220345025027, 'NAD_new': 0.49231881337950595}
results/ag_news/cascada/20200220_160317/results.csv {'accuracy_drop': 0.71, 'roc_auc_drop': 0.5953119132922666, 'probability_drop': 0.5910598556459167, 'WER': 4.21, 'NAD': 0.23680304646789233, 'NAD_new': 0.30691304595065194}
results/ag_news/cascada/20200220_160443/results.csv {'accuracy_drop': 0.82, 'roc_auc_drop': 0.668919717997041, 'probability_drop': 0.667140202473852, 'WER': 6.4, 'NAD': 0.2048836158324626, 'NAD_new': 0.1804652362979195}
results/ag_news/cascada/20200220_160632/results.csv {'accuracy_drop': 0.62, 'roc_auc_drop': 0.4223867940139282, 'probability_drop': 0.49184545111519135, 'WER': 2.47, 'NAD': 0.3496303167357012, 'NAD_new': 0.49480923360619855}
results/ag_news/cascada/20200220_160948/results.csv {'accuracy_drop': 0.72, 'roc_auc_drop': 0.5917883848652221, 'probability_drop': 0.5898869064376512, 'WER': 4.1, 'NAD': 0.24395958456054118, 'NAD_new': 0.3297783944015841}
results/ag_news/cascada/20200220_161355/results.csv {'accuracy_drop': 0.82, 'roc_auc_drop': 0.6683825922907644, 'probability_drop': 0.6644171894835644, 'WER': 6.15, 'NAD': 0.21217927059062758, 'NAD_new': 0.20903437817153855}
results/ag_news/cascada/20200220_161854/results.csv {'accuracy_drop': 0.51, 'roc_auc_drop': 0.33756492587190934, 'probability_drop': 0.38050790304230964, 'WER': 3.16, 'NAD': 0.1900382246440584, 'NAD_new': 0.264436182765164}
results/ag_news/cascada/20200220_161940/results.csv {'accuracy_drop': 0.6799999999999999, 'roc_auc_drop': 0.5210169834204548, 'probability_drop': 0.5319549932145905, 'WER': 4.61, 'NAD': 0.17179382755965156, 'NAD_new': 0.16005286905151073}
results/ag_news/cascada/20200220_162027/results.csv {'accuracy_drop': 0.77, 'roc_auc_drop': 0.6418645487553737, 'probability_drop': 0.6143423360412471, 'WER': 7.25, 'NAD': 0.146594101957664, 'NAD_new': 0.06247898282405955}
results/ag_news/cascada/20200220_162122/results.csv {'accuracy_drop': 0.51, 'roc_auc_drop': 0.3542364373132513, 'probability_drop': 0.38732170826807755, 'WER': 3.16, 'NAD': 0.19137921947483838, 'NAD_new': 0.26347832748100136}
results/ag_news/cascada/20200220_162349/results.csv {'accuracy_drop': 0.6799999999999999, 'roc_auc_drop': 0.5137272870796714, 'probability_drop': 0.5292321068648274, 'WER': 4.6, 'NAD': 0.17206750016240915, 'NAD_new': 0.16196857754448651}
results/ag_news/cascada/20200220_162614/results.csv {'accuracy_drop': 0.77, 'roc_auc_drop': 0.6494904742556848, 'probability_drop': 0.6176093590528863, 'WER': 6.66, 'NAD': 0.152773425758206, 'NAD_new': 0.06330000082781277}
results/ag_news/cascada/20200220_162907/results.csv {'accuracy_drop': 0.5700000000000001, 'roc_auc_drop': 0.4125046180105011, 'probability_drop': 0.4688327988135951, 'WER': 2.72, 'NAD': 0.2906265354649045, 'NAD_new': 0.42754049901696645}
results/ag_news/cascada/20200220_163105/results.csv {'accuracy_drop': 0.73, 'roc_auc_drop': 0.5679135912701427, 'probability_drop': 0.5764171839223023, 'WER': 4.15, 'NAD': 0.22576619562892908, 'NAD_new': 0.29032560117831124}
results/ag_news/cascada/20200220_163307/results.csv {'accuracy_drop': 0.79, 'roc_auc_drop': 0.6548399692828877, 'probability_drop': 0.6458143371671607, 'WER': 6.29, 'NAD': 0.18408264121997617, 'NAD_new': 0.14222057427359064}
results/ag_news/cascada/20200220_163529/results.csv {'accuracy_drop': 0.5800000000000001, 'roc_auc_drop': 0.42680226772516017, 'probability_drop': 0.4779697018850789, 'WER': 2.74, 'NAD': 0.2944579518122868, 'NAD_new': 0.43098877390202406}
results/ag_news/cascada/20200220_164037/results.csv {'accuracy_drop': 0.73, 'roc_auc_drop': 0.5681434904290132, 'probability_drop': 0.5759185765206282, 'WER': 4.13, 'NAD': 0.22642300985365352, 'NAD_new': 0.29406123272285156}
results/ag_news/cascada/20200220_164615/results.csv {'accuracy_drop': 0.78, 'roc_auc_drop': 0.6455082324576449, 'probability_drop': 0.6391646088707298, 'WER': 5.71, 'NAD': 0.19257519308938173, 'NAD_new': 0.15535685154313064}

In [109]:
eval_results_path

'results/insurance/cascada/20200220_002909/eval_metric.json'

In [110]:
metrics

{'accuracy_drop': 0.010000000000000009,
 'roc_auc_drop': 0.2525252525252525,
 'probability_drop': 0.0008302136082703872,
 'WER': 0.4,
 'NAD': 0.002020201616161697,
 'NAD_new': 0.002020201616161697}

In [214]:
dataset = 'kaggle_transactions'
#dataset = 'ag_news' 
#dataset = 'insurance'
#dataset = 'ai_academy_data'


base_dir = f'results/{dataset}'

In [215]:
result = []
for method in ['random']:
    base = os.path.join(base_dir, method)
    for folder in os.listdir(base):
        if folder != 'backup':
            try:
                args = json.load(open(os.path.join(base, folder, 'args.json')))
                metrics = json.load(open(os.path.join(base, folder, 'eval_metric.json')))
                args.update(metrics)
                result.append({k:args[k] for k in ['roc_auc_drop', 'accuracy_drop', 'probability_drop', 'WER', 'NAD', 
                                                   'NAD_new',
                                                    'beam_size', 'num_steps', 'std', 'space']})
            except Exception as e:
                print(e)
result = pd.DataFrame(result)

In [216]:
print('random')
result.sort_values(by='NAD_new', ascending=False)

random

,roc_auc_drop,accuracy_drop,probability_drop,WER,NAD,NAD_new,beam_size,num_steps,std,space
10,0.539050,0.40,0.188504,5.68,0.172803,0.334444,1,100,0.100,decoder_hidden
2,0.646135,0.53,0.222099,6.70,0.158427,0.332937,30,30,0.100,decoder_hidden
4,0.550322,0.46,0.188377,6.07,0.176767,0.314136,30,30,0.010,decoder_hidden
7,0.526570,0.44,0.180893,6.39,0.138422,0.275947,30,30,0.010,encoder_outputs
9,0.622383,0.46,0.225379,8.30,0.116489,0.225438,30,30,0.100,encoder_outputs
5,0.619565,0.47,0.228998,9.02,0.108478,0.189529,30,30,1.000,decoder_hidden
6,0.482689,0.37,0.165257,7.03,0.104284,0.178665,30,30,0.001,encoder_outputs
8,0.640499,0.54,0.227667,10.82,0.093814,0.166900,1,100,1.000,decoder_hidden
3,0.456924,0.35,0.155785,7.03,0.091961,0.159664,30,30,0.001,decoder_hidden
11,0.238325,0.21,0.080977,4.43,0.063659,0.158445,1,100,0.010,decoder_hidden
0,0.672303,0.61,0.257281,9.94,0.104237,0.156327,30,30,1.000,encoder_outputs
1,0.050725,0.07,0.024186,4.46,0.019853,0.052395,1,100,0.001,decoder_hidden

In [217]:
print('random')
result[result['beam_size'] == 1].sort_values(by='NAD_new', ascending=False)

random

,roc_auc_drop,accuracy_drop,probability_drop,WER,NAD,NAD_new,beam_size,num_steps,std,space
10,0.539050,0.40,0.188504,5.68,0.172803,0.334444,1,100,0.100,decoder_hidden
8,0.640499,0.54,0.227667,10.82,0.093814,0.166900,1,100,1.000,decoder_hidden
11,0.238325,0.21,0.080977,4.43,0.063659,0.158445,1,100,0.010,decoder_hidden
1,0.050725,0.07,0.024186,4.46,0.019853,0.052395,1,100,0.001,decoder_hidden

In [189]:
all_res = []
for dataset in ['ag_news', 'insurance', 'ai_academy_data', 'kaggle_transactions']:

    xs = os.listdir(f'results/{dataset}/hotflip')
    x = np.sort(xs)[-1]
    result = json.load(open(f'results/{dataset}/hotflip/{x}/eval_metric.json', 'r'))
    result = pd.DataFrame([result])

    print('hotflip')
    result['dataset'] = dataset
    all_res.append(result[['dataset', 'roc_auc_drop', 'accuracy_drop', 'probability_drop', 'WER', 'NAD', 'NAD_new']])

hotflip
hotflip
hotflip
hotflip

In [190]:
pd.concat(all_res)

,dataset,roc_auc_drop,accuracy_drop,probability_drop,WER,NAD,NAD_new
0,ag_news,0.314858,0.57,0.433398,1.35,0.549808,0.639819
0,insurance,0.656566,0.70,0.253319,2.65,0.249327,0.400972
0,ai_academy_data,0.088428,0.13,0.042628,1.01,0.595744,0.595745
0,kaggle_transactions,0.141707,0.15,0.058987,1.00,0.492753,0.492754

In [191]:
result = []
for method in ['mcmc']:
    base = os.path.join(base_dir, method)
    for folder in os.listdir(base):
        if folder != 'backup':
            try:
                args = json.load(open(os.path.join(base, folder, 'args.json')))
                metrics = json.load(open(os.path.join(base, folder, 'eval_metric.json')))
                args.update(metrics)
                result.append({k:args[k] for k in ['roc_auc_drop', 'accuracy_drop', 'probability_drop', 'WER', 'NAD',
                                                    'NAD_new', 
                                                   'beam_size', 'num_steps', 'std', 'sigma_wer', 'sigma_class']})
            except Exception as e:
                print(e)
result = pd.DataFrame(result)

print('mcmc')
result[(result['beam_size'] == 30)&(result['num_steps'] == 30)].sort_values(by='NAD', ascending=False).head()

In [192]:
print('mcmc')
result[(result['WER'] < 2)&(result['beam_size'] == 30)&(result['num_steps'] == 30)].sort_values(by='NAD_new', ascending=False).head()

mcmc

,roc_auc_drop,accuracy_drop,probability_drop,WER,NAD,NAD_new,beam_size,num_steps,std,sigma_wer,sigma_class
23,0.065465,0.09,0.034080,1.42,0.080226,0.129458,30,30,0.100,0.2,1.00
25,0.089863,0.14,0.042223,1.99,0.087926,0.122391,30,30,0.001,0.2,1.50
54,0.108598,0.16,0.058644,1.60,0.062394,0.114069,30,30,0.010,1.5,0.20
20,0.073226,0.08,0.037068,1.69,0.067537,0.107371,30,30,0.100,0.2,1.25
5,0.046325,0.05,0.019906,0.70,0.037589,0.066584,30,30,0.100,1.0,0.20

In [193]:
print('mcmc')
result[(result['WER'] < 2)].sort_values(by='NAD_new', ascending=False).head()

mcmc

,roc_auc_drop,accuracy_drop,probability_drop,WER,NAD,NAD_new,beam_size,num_steps,std,sigma_wer,sigma_class
23,0.065465,0.09,0.034080,1.42,0.080226,0.129458,30,30,0.100,0.2,1.00
25,0.089863,0.14,0.042223,1.99,0.087926,0.122391,30,30,0.001,0.2,1.50
54,0.108598,0.16,0.058644,1.60,0.062394,0.114069,30,30,0.010,1.5,0.20
20,0.073226,0.08,0.037068,1.69,0.067537,0.107371,30,30,0.100,0.2,1.25
5,0.046325,0.05,0.019906,0.70,0.037589,0.066584,30,30,0.100,1.0,0.20

In [194]:
print('mcmc')
result.sort_values(by='NAD_new', ascending=False).head()

mcmc

,roc_auc_drop,accuracy_drop,probability_drop,WER,NAD,NAD_new,beam_size,num_steps,std,sigma_wer,sigma_class
16,0.224172,0.37,0.107984,5.00,0.241710,0.373879,30,30,0.01,2.0,1.50
2,0.270624,0.37,0.124974,5.84,0.173345,0.350919,30,30,0.10,1.0,1.25
4,0.230101,0.35,0.111832,4.90,0.208714,0.345885,30,30,0.01,1.5,0.75
59,0.262542,0.32,0.119295,5.12,0.187185,0.329186,30,30,0.01,2.0,1.25
34,0.228269,0.34,0.115011,5.42,0.158089,0.327901,30,30,0.10,2.0,0.75

In [195]:
result = []
for method in ['cascada']:
    base = os.path.join(base_dir, method)
    for folder in os.listdir(base):
        if folder != 'backup':
            args = json.load(open(os.path.join(base, folder, 'args.json')))
            metrics = json.load(open(os.path.join(base, folder, 'eval_metric.json')))
            args.update(metrics)
            result.append({k:args[k] for k in ['roc_auc_drop', 'accuracy_drop', 'probability_drop', 'WER', 'NAD',
                                               'NAD_new',
                                               'levenshtein_weight', 'beam_size', 'max_steps', 'learning_rate']})
result = pd.DataFrame(result)

print('cascada')
result[(result['beam_size'] == 30)&(result['max_steps'] == 30)].sort_values(by='NAD', ascending=False).head()

In [99]:
print('cascada')
result[(result['WER'] < 2)&(result['beam_size'] == 30)&(result['max_steps'] == 30)].sort_values(by='NAD_new', ascending=False)

cascada

,roc_auc_drop,accuracy_drop,probability_drop,WER,NAD,NAD_new,levenshtein_weight,beam_size,max_steps,learning_rate
9,0.0,0.0,0.000635,0.48,0.0,0.0,0.1,30,30,2.0
17,0.0,0.0,-0.000144,0.06,0.0,0.0,0.1,30,30,1.0

In [100]:
print('cascada')
result[(result['WER'] < 9)&(result['beam_size'] == 30)&(result['max_steps'] == 30)].sort_values(by='NAD_new', ascending=False)

cascada

,roc_auc_drop,accuracy_drop,probability_drop,WER,NAD,NAD_new,levenshtein_weight,beam_size,max_steps,learning_rate
39,2.020202e-02,0.05,0.009766,3.68,0.008107,0.017254,0.1,30,30,4.0
37,1.010101e-02,0.05,0.007868,6.09,0.005586,0.010936,1.0,30,30,2.0
54,1.010101e-02,0.01,0.003689,3.32,0.003899,0.006592,1.0,30,30,1.0
66,5.050505e-02,0.07,0.014821,8.83,0.003704,0.003190,1.0,30,30,4.0
18,1.010101e-02,0.02,0.002105,6.18,0.003899,0.000532,10.0,30,30,4.0
9,0.000000e+00,0.00,0.000635,0.48,0.000000,0.000000,0.1,30,30,2.0
17,0.000000e+00,0.00,-0.000144,0.06,0.000000,0.000000,0.1,30,30,1.0
22,1.110223e-16,0.01,0.003185,7.47,0.000505,0.000000,10.0,30,30,1.0
59,1.110223e-16,-0.01,0.000435,6.60,0.000000,0.000000,10.0,30,30,2.0

In [101]:
print('cascada')
result[(result['WER'] < 2)].sort_values(by='NAD_new', ascending=False)

cascada

,roc_auc_drop,accuracy_drop,probability_drop,WER,NAD,NAD_new,levenshtein_weight,beam_size,max_steps,learning_rate
35,0.000000,0.01,0.002016,1.17,0.010101,0.010101,0.1,1,5,2.0
64,0.000000,0.01,0.002630,1.34,0.010101,0.010101,0.1,1,30,2.0
63,0.020202,0.03,0.006919,0.50,0.020202,0.010101,0.1,1,100,1.0
16,0.020202,0.03,0.010309,1.58,0.030303,0.010101,0.1,1,100,2.0
53,0.000000,0.01,0.000940,0.46,0.010101,0.010101,0.1,1,30,1.0
38,0.000000,0.00,0.000873,0.61,0.000000,0.000000,0.1,30,100,2.0
67,0.000000,0.00,0.000144,0.33,0.000000,0.000000,0.1,1,5,1.0
58,0.000000,0.00,-0.000193,0.06,0.000000,0.000000,0.1,30,5,1.0
52,0.000000,0.00,0.000384,0.38,0.000000,0.000000,0.1,30,5,2.0
45,0.000000,0.00,0.000666,0.39,0.000000,0.000000,0.1,100,30,2.0
40,0.000000,0.00,-0.000070,0.04,0.000000,0.000000,0.1,100,30,1.0
0,0.000000,0.00,-0.000193,0.06,0.000000,0.000000,0.1,100,5,1.0
4,0.000000,-0.01,-0.000332,1.96,0.000000,0.000000,1.0,30,5,1.0
32,0.000000,0.00,-0.000070,0.04,0.000000,0.000000,0.1,100,100,1.0
26,0.000000,-0.01,-0.000409,1.91,0.000000,0.000000,1.0,100,5,1.0
17,0.000000,0.00,-0.000144,0.06,0.000000,0.000000,0.1,30,30,1.0
13,0.000000,0.00,0.000913,0.50,0.000000,0.000000,0.1,100,100,2.0
9,0.000000,0.00,0.000635,0.48,0.000000,0.000000,0.1,30,30,2.0
7,0.000000,0.00,0.000144,0.33,0.000000,0.000000,0.1,1,5,1.0
5,0.000000,0.00,-0.000144,0.06,0.000000,0.000000,0.1,30,100,1.0
74,0.000000,0.00,0.000335,0.35,0.000000,0.000000,0.1,100,5,2.0

In [104]:
print('cascada')
result[(result['WER'] < 9)].sort_values(by='NAD_new', ascending=False)

cascada

,roc_auc_drop,accuracy_drop,probability_drop,WER,NAD,NAD_new,levenshtein_weight,beam_size,max_steps,learning_rate
79,0.070707,0.09,0.020937,6.16,0.013591,0.027454,0.1,1,100,4.0
36,0.070707,0.07,0.020765,6.09,0.009719,0.022404,0.1,1,30,4.0
11,0.060606,0.07,0.017762,5.22,0.008596,0.020240,0.1,1,5,4.0
29,0.020202,0.04,0.008926,3.73,0.007602,0.017254,0.1,30,100,4.0
60,0.020202,0.04,0.008751,3.44,0.007602,0.017254,0.1,30,5,4.0
...,...,...,...,...,...,...,...,...,...,...
45,0.000000,0.00,0.000666,0.39,0.000000,0.000000,0.1,100,30,2.0
47,0.000000,-0.01,0.000221,2.60,0.000000,0.000000,1.0,1,5,1.0
48,0.000000,-0.01,0.000649,6.70,0.000000,0.000000,10.0,30,100,2.0
49,0.010101,0.00,0.002404,5.89,0.000505,0.000000,10.0,1,5,2.0
40,0.000000,0.00,-0.000070,0.04,0.000000,0.000000,0.1,100,30,1.0

print('cascada')
result.sort_values(by='NAD', ascending=False).head()

In [222]:
dataset

'ag_news'

In [230]:
for dataset in ['ag_news']:
    base_dir = f'results/{dataset}'
    model_with_weights = joblib.load(f'results/{dataset}/logit_tfidf.model')
    model = model_with_weights['model']
    w = model_with_weights['weights']

    for method in ['cascada_masked']:
        base = os.path.join(base_dir, method)
        for folder in sorted(os.listdir(base)):
            if folder != 'backup':
                attack_results_path = f'{base}/{folder}/results.csv'
                eval_results_path = f'{base}/{folder}/eval_metric.json'
                args_path = f'{base}/{folder}/args.json'
                df = pd.read_csv(attack_results_path)
                df.rename(columns={'generated_sequence':'adversarial_sequence'}, inplace=True)
                metrics = calculate_metrics(model, w,
                                        df['label'].values, 
                                        df['sequence'].values,
                                        df['adversarial_sequence'].values)
                json.dump(metrics, open(eval_results_path, 'w'))
                args = json.load(open(args_path, 'r'))
                print(attack_results_path)
                print(args['maskers'])
                print(metrics)
                print('')

results/ag_news/cascada_masked/20200220_183427/results.csv
Identity
{'accuracy_drop': 0.62, 'roc_auc_drop': 0.4219386242612946, 'probability_drop': 0.4922277125741614, 'WER': 2.51, 'NAD': 0.34254220345025027, 'NAD_new': 0.49231881337950595}

results/ag_news/cascada_masked/20200220_183852/results.csv
Identity
{'accuracy_drop': 0.5700000000000001, 'roc_auc_drop': 0.39884539334107694, 'probability_drop': 0.4475081903384297, 'WER': 3.06, 'NAD': 0.2718526077765105, 'NAD_new': 0.38642574215768}

results/ag_news/cascada_masked/20200220_184048/results.csv
AddMasker
{'accuracy_drop': 0.62, 'roc_auc_drop': 0.41917879202065034, 'probability_drop': 0.4743593495760202, 'WER': 3.0, 'NAD': 0.27873548571849127, 'NAD_new': 0.4131635648151368}

results/ag_news/cascada_masked/20200220_184808/results.csv
RemoveMasker
{'accuracy_drop': 0.62, 'roc_auc_drop': 0.4191204757135667, 'probability_drop': 0.4720054983556253, 'WER': 4.08, 'NAD': 0.19167800378874578, 'NAD_new': 0.3173679916455444}

results/ag_news/cascada_masked/20200220_185001/results.csv
ReplaceMasker
{'accuracy_drop': 0.673469387755102, 'roc_auc_drop': 0.4585039788213162, 'probability_drop': 0.5303301097353276, 'WER': 3.5918367346938775, 'NAD': 0.25133548017738955, 'NAD_new': 0.3721327811188837}